.common-input-container {
    display: flex;
    justify-content:center;
    align-items: center;
}

.common-input {
    height: 100%;
    border: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    outline: 0px solid;
    flex-grow: 1;
    padding: 0px 10px;
}

.limit {
    color: red;
    font-size: 12px;
    padding-right: 10px;
}